name: check google-java-format

on:
  push:
    branches:
      - 'dev/1.0'
  pull_request:
    branches:
      - 'dev/1.0'

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Java
        uses: actions/setup-java@v4.6.0
        with:
          distribution: "temurin"
          java-version: 17
      - uses: axel-op/googlejavaformat-action@v3.6.0
        with:
          args: "--set-exit-if-changed"
